<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workflow.pro.modules.apitable.mapper.ApitableDatasheetMapper">

    <resultMap type="ApitableDatasheet" id="ApitableDatasheetResult">
        <result property="id" column="id"/>
        <result property="dstId" column="dst_id"/>
        <result property="nodeId" column="node_id"/>
        <result property="dstName" column="dst_name"/>
        <result property="spaceId" column="space_id"/>
        <result property="revision" column="revision"/>
        <result property="deleted" column="deleted"/>
        <result property="archive" column="archive"/>
        <result property="enable" column="enable"/>
        <result property="sort" column="sort"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="tenantId" column="tenant_id"/>
    </resultMap>

    <sql id="selectApitableDatasheetVo">
        select`id`,`dst_id`,`node_id`,`archive`,`enable`,`dst_name`,`space_id`,`revision`,`deleted`,`sort`,`create_by`,`update_by`,`create_time`,`update_time`,`remark`,`tenant_id`
        from `apitable_datasheet`
    </sql>

    <select id="selectApitableDatasheetList" parameterType="ApitableDatasheet"
            resultMap="ApitableDatasheetResult">
        <include refid="selectApitableDatasheetVo"/>
        <where>
            <if test="request.ids != null  and request.ids != ''">and
                `dst_id` in
                <foreach item="id" collection="request.ids" open="(" separator=","
                         close=")">
                    #{id}
                </foreach>
            </if>

            <if test="request.createBy != null  and request.createBy != ''">and
                `create_by` = #{request.createBy}
            </if>
            <if test="request.dstId != null  and request.dstId != ''">and
                `dst_id` = #{request.dstId}
            </if>
            <if test="request.nodeId != null  and request.nodeId != ''">and
                `node_id` = #{request.nodeId}
            </if>
            <if test="request.dstName != null  and request.dstName != ''">and
                `dst_name` like concat('%', #{request.dstName}, '%')
            </if>
            <if test="request.spaceId != null  and request.spaceId != ''">and
                `space_id` = #{request.spaceId}
            </if>
            <if test="request.revision != null ">and
                `revision` = #{request.revision}
            </if>
            <if test="request.deleted != null ">and
                `deleted` = #{request.deleted}
            </if>
            <if test="request.sort != null ">and
                `sort` = #{request.sort}
            </if>
            <if test="request.archive != null ">and
                `archive` = #{request.archive}
            </if>
            <if test="request.enable != null ">and
                `enable` = #{request.enable}
            </if>
            <if test="request.tenantId != null  and request.tenantId != ''">and
                `tenant_id` = #{request.tenantId}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectApitableDatasheetById" parameterType="String"
            resultMap="ApitableDatasheetResult">
        <include refid="selectApitableDatasheetVo"/>
        where `id` = #{id}
    </select>

    <insert id="insertApitableDatasheet" parameterType="ApitableDatasheet">
        insert into `apitable_datasheet`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,
            </if>
            <if test="dstId != null">`dst_id`,
            </if>
            <if test="nodeId != null">`node_id`,
            </if>
            <if test="dstName != null">`dst_name`,
            </if>
            <if test="spaceId != null">`space_id`,
            </if>
            <if test="revision != null">`revision`,
            </if>
            <if test="deleted != null">`deleted`,
            </if>
            <if test="sort != null">`sort`,
            </if>
            <if test="createBy != null">`create_by`,
            </if>
            <if test="updateBy != null">`update_by`,
            </if>
            <if test="createTime != null">`create_time`,
            </if>
            <if test="updateTime != null">`update_time`,
            </if>
            <if test="remark != null">`remark`,
            </if>
            <if test="tenantId != null">`tenant_id`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},
            </if>
            <if test="dstId != null">#{dstId},
            </if>
            <if test="nodeId != null">#{nodeId},
            </if>
            <if test="dstName != null">#{dstName},
            </if>
            <if test="spaceId != null">#{spaceId},
            </if>
            <if test="revision != null">#{revision},
            </if>
            <if test="deleted != null">#{deleted},
            </if>
            <if test="sort != null">#{sort},
            </if>
            <if test="createBy != null">#{createBy},
            </if>
            <if test="updateBy != null">#{updateBy},
            </if>
            <if test="createTime != null">#{createTime},
            </if>
            <if test="updateTime != null">#{updateTime},
            </if>
            <if test="remark != null">#{remark},
            </if>
            <if test="request.archive != null ">and
                `archive` = #{request.archive}
            </if>
            <if test="request.enable != null ">and
                `enable` = #{request.enable}
            </if>
            <if test="tenantId != null">#{tenantId},
            </if>
        </trim>
    </insert>

    <update id="updateApitableDatasheet" parameterType="ApitableDatasheet">
        update `apitable_datasheet`
        <trim prefix="SET" suffixOverrides=",">
            <if test="dstId != null">`dst_id` =
                #{dstId},
            </if>
            <if test="nodeId != null">`node_id` =
                #{nodeId},
            </if>
            <if test="dstName != null">`dst_name` =
                #{dstName},
            </if>
            <if test="spaceId != null">`space_id` =
                #{spaceId},
            </if>
            <if test="revision != null">`revision` =
                #{revision},
            </if>
            <if test="deleted != null">`deleted` =
                #{deleted},
            </if>
            <if test="sort != null">`sort` =
                #{sort},
            </if>
            <if test="createBy != null">`create_by` =
                #{createBy},
            </if>
            <if test="updateBy != null">`update_by` =
                #{updateBy},
            </if>
            <if test="createTime != null">`create_time` =
                #{createTime},
            </if>
            <if test="updateTime != null">`update_time` =
                #{updateTime},
            </if>
            <if test="remark != null">`remark` =
                #{remark},
            </if>
            <if test="tenantId != null">`tenant_id` =
                #{tenantId},
            </if>
            <if test="request.archive != null ">and
                `archive` = #{request.archive}
            </if>
            <if test="request.enable != null ">and
                `enable` = #{request.enable}
            </if>
        </trim>
        where `id` = #{id}
    </update>

    <delete id="deleteApitableDatasheetById" parameterType="String">
        delete
        from `apitable_datasheet`
        where `id` = #{id}
    </delete>

    <delete id="deleteApitableDatasheetByIds" parameterType="String">
        delete from `apitable_datasheet` where `id` in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
