<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workflow.pro.modules.apitable.mapper.ApitableDatasheetRecordMapper">

    <resultMap type="ApitableDatasheetRecord" id="ApitableDatasheetRecordResult">
        <result property="id" column="id"/>
        <result property="recordId" column="record_id"/>
        <result property="dstId" column="dst_id"/>
        <result property="data" column="data"/>
        <result property="revisionHistory" column="revision_history"/>
        <result property="revision" column="revision"/>
        <result property="fieldUpdatedInfo" column="field_updated_info"/>
        <result property="deleted" column="deleted"/>
        <result property="sort" column="sort"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="tenantId" column="tenant_id"/>
    </resultMap>

    <sql id="selectApitableDatasheetRecordVo">
        select`id`,`record_id`,`dst_id`,`data`,`revision_history`,`revision`,`field_updated_info`,`deleted`,`sort`,`create_by`,`update_by`,`create_time`,`update_time`,`remark`,`tenant_id`
        from `apitable_datasheet_record`
    </sql>

    <select id="selectApitableDatasheetRecordList" parameterType="ApitableDatasheetRecord"
            resultMap="ApitableDatasheetRecordResult">
        <include refid="selectApitableDatasheetRecordVo"/>
        <where>
            <if test="request.recordId != null  and request.recordId != ''">and
                `record_id` = #{request.recordId}
            </if>
            <if test="request.dstId != null  and request.dstId != ''">and
                `dst_id` = #{request.dstId}
            </if>
            <if test="request.data != null  and request.data != ''">and
                `data` = #{request.data}
            </if>
            <if test="request.revisionHistory != null  and request.revisionHistory != ''">
                and
                `revision_history` = #{request.revisionHistory}
            </if>
            <if test="request.revision != null ">and
                `revision` = #{request.revision}
            </if>
            <if test="request.fieldUpdatedInfo != null  and request.fieldUpdatedInfo != ''">
                and
                `field_updated_info` = #{request.fieldUpdatedInfo}
            </if>
            <if test="request.deleted != null ">and
                `deleted` = #{request.deleted}
            </if>
            <if test="request.sort != null ">and
                `sort` = #{request.sort}
            </if>
            <if test="request.tenantId != null  and request.tenantId != ''">and
                `tenant_id` = #{request.tenantId}
            </if>
        </where>
        order by   create_time desc
    </select>

    <select id="selectApitableDatasheetRecordById" parameterType="String"
            resultMap="ApitableDatasheetRecordResult">
        <include refid="selectApitableDatasheetRecordVo"/>
        where `id` = #{id}
    </select>

    <insert id="insertApitableDatasheetRecord" parameterType="ApitableDatasheetRecord">
        insert into `apitable_datasheet_record`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,
            </if>
            <if test="recordId != null">`record_id`,
            </if>
            <if test="dstId != null">`dst_id`,
            </if>
            <if test="data != null">`data`,
            </if>
            <if test="revisionHistory != null">`revision_history`,
            </if>
            <if test="revision != null">`revision`,
            </if>
            <if test="fieldUpdatedInfo != null">`field_updated_info`,
            </if>
            <if test="deleted != null">`deleted`,
            </if>
            <if test="sort != null">`sort`,
            </if>
            <if test="createBy != null">`create_by`,
            </if>
            <if test="updateBy != null">`update_by`,
            </if>
            <if test="createTime != null">`create_time`,
            </if>
            <if test="updateTime != null">`update_time`,
            </if>
            <if test="remark != null">`remark`,
            </if>
            <if test="tenantId != null">`tenant_id`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},
            </if>
            <if test="recordId != null">#{recordId},
            </if>
            <if test="dstId != null">#{dstId},
            </if>
            <if test="data != null">#{data},
            </if>
            <if test="revisionHistory != null">#{revisionHistory},
            </if>
            <if test="revision != null">#{revision},
            </if>
            <if test="fieldUpdatedInfo != null">#{fieldUpdatedInfo},
            </if>
            <if test="deleted != null">#{deleted},
            </if>
            <if test="sort != null">#{sort},
            </if>
            <if test="createBy != null">#{createBy},
            </if>
            <if test="updateBy != null">#{updateBy},
            </if>
            <if test="createTime != null">#{createTime},
            </if>
            <if test="updateTime != null">#{updateTime},
            </if>
            <if test="remark != null">#{remark},
            </if>
            <if test="tenantId != null">#{tenantId},
            </if>
        </trim>
    </insert>

    <update id="updateApitableDatasheetRecord" parameterType="ApitableDatasheetRecord">
        update `apitable_datasheet_record`
        <trim prefix="SET" suffixOverrides=",">
            <if test="recordId != null">`record_id` =
                #{recordId},
            </if>
            <if test="dstId != null">`dst_id` =
                #{dstId},
            </if>
            <if test="data != null">`data` =
                #{data},
            </if>
            <if test="revisionHistory != null">`revision_history` =
                #{revisionHistory},
            </if>
            <if test="revision != null">`revision` =
                #{revision},
            </if>
            <if test="fieldUpdatedInfo != null">`field_updated_info` =
                #{fieldUpdatedInfo},
            </if>
            <if test="deleted != null">`deleted` =
                #{deleted},
            </if>
            <if test="sort != null">`sort` =
                #{sort},
            </if>
            <if test="createBy != null">`create_by` =
                #{createBy},
            </if>
            <if test="updateBy != null">`update_by` =
                #{updateBy},
            </if>
            <if test="createTime != null">`create_time` =
                #{createTime},
            </if>
            <if test="updateTime != null">`update_time` =
                #{updateTime},
            </if>
            <if test="remark != null">`remark` =
                #{remark},
            </if>
            <if test="tenantId != null">`tenant_id` =
                #{tenantId},
            </if>
        </trim>
        where `id` = #{id}
    </update>

    <delete id="deleteApitableDatasheetRecordById" parameterType="String">
        delete
        from `apitable_datasheet_record`
        where `id` = #{id}
    </delete>

    <delete id="deleteApitableDatasheetRecordByIds" parameterType="String">
        delete from `apitable_datasheet_record` where `id` in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <resultMap id="dataSheetRecordDto"
               type="com.workflow.pro.modules.apitable.domain.dto.DataSheetRecordDTO">
        <result column="id" property="id"/>
        <result column="dst_id" property="dstId"/>
        <result column="record_id" property="recordId"/>
        <result column="data" property="data"
                typeHandler="com.workflow.pro.modules.apitable.utils.ibatis.JsonHandler"/>
    </resultMap>

    <select id="selectDtoByDstId" resultMap="dataSheetRecordDto">
        SELECT id, record_id, `data`
        FROM `apitable_datasheet_record`
        WHERE dst_id = #{dstId}
    </select>
</mapper>
