<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workflow.pro.modules.apitable.mapper.ApitableDatasheetChangesetMapper">

    <resultMap type="ApitableDatasheetChangeset" id="ApitableDatasheetChangesetResult">
        <result property="id" column="id"/>
        <result property="messageId" column="message_id"/>
        <result property="dstId" column="dst_id"/>
        <result property="memberId" column="member_id"/>
        <result property="operations" column="operations"/>
        <result property="revision" column="revision"/>
        <result property="deleted" column="deleted"/>
        <result property="sort" column="sort"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="tenantId" column="tenant_id"/>
    </resultMap>

    <sql id="selectApitableDatasheetChangesetVo">
        select`id`,`message_id`,`dst_id`,`member_id`,`operations`,`revision`,`deleted`,`sort`,`create_by`,`update_by`,`create_time`,`update_time`,`remark`,`tenant_id`
        from `apitable_datasheet_changeset`
    </sql>

    <select id="selectApitableDatasheetChangesetList"
            parameterType="ApitableDatasheetChangeset"
            resultMap="ApitableDatasheetChangesetResult">
        <include refid="selectApitableDatasheetChangesetVo"/>
        <where>
            <if test="request.messageId != null  and request.messageId != ''">and
                `message_id` = #{request.messageId}
            </if>
            <if test="request.dstId != null  and request.dstId != ''">and
                `dst_id` = #{request.dstId}
            </if>
            <if test="request.memberId != null ">and
                `member_id` = #{request.memberId}
            </if>
            <if test="request.operations != null  and request.operations != ''">and
                `operations` = #{request.operations}
            </if>
            <if test="request.revision != null ">and
                `revision` = #{request.revision}
            </if>
            <if test="request.deleted != null ">and
                `deleted` = #{request.deleted}
            </if>
            <if test="request.sort != null ">and
                `sort` = #{request.sort}
            </if>
            <if test="request.tenantId != null  and request.tenantId != ''">and
                `tenant_id` = #{request.tenantId}
            </if>
        </where>
        order by   create_time desc
    </select>

    <select id="selectApitableDatasheetChangesetById" parameterType="String"
            resultMap="ApitableDatasheetChangesetResult">
        <include refid="selectApitableDatasheetChangesetVo"/>
        where `id` = #{id}
    </select>

    <insert id="insertApitableDatasheetChangeset"
            parameterType="ApitableDatasheetChangeset">
        insert into `apitable_datasheet_changeset`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,
            </if>
            <if test="messageId != null">`message_id`,
            </if>
            <if test="dstId != null">`dst_id`,
            </if>
            <if test="memberId != null">`member_id`,
            </if>
            <if test="operations != null">`operations`,
            </if>
            <if test="revision != null">`revision`,
            </if>
            <if test="deleted != null">`deleted`,
            </if>
            <if test="sort != null">`sort`,
            </if>
            <if test="createBy != null">`create_by`,
            </if>
            <if test="updateBy != null">`update_by`,
            </if>
            <if test="createTime != null">`create_time`,
            </if>
            <if test="updateTime != null">`update_time`,
            </if>
            <if test="remark != null">`remark`,
            </if>
            <if test="tenantId != null">`tenant_id`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},
            </if>
            <if test="messageId != null">#{messageId},
            </if>
            <if test="dstId != null">#{dstId},
            </if>
            <if test="memberId != null">#{memberId},
            </if>
            <if test="operations != null">#{operations},
            </if>
            <if test="revision != null">#{revision},
            </if>
            <if test="deleted != null">#{deleted},
            </if>
            <if test="sort != null">#{sort},
            </if>
            <if test="createBy != null">#{createBy},
            </if>
            <if test="updateBy != null">#{updateBy},
            </if>
            <if test="createTime != null">#{createTime},
            </if>
            <if test="updateTime != null">#{updateTime},
            </if>
            <if test="remark != null">#{remark},
            </if>
            <if test="tenantId != null">#{tenantId},
            </if>
        </trim>
    </insert>

    <update id="updateApitableDatasheetChangeset"
            parameterType="ApitableDatasheetChangeset">
        update `apitable_datasheet_changeset`
        <trim prefix="SET" suffixOverrides=",">
            <if test="messageId != null">`message_id` =
                #{messageId},
            </if>
            <if test="dstId != null">`dst_id` =
                #{dstId},
            </if>
            <if test="memberId != null">`member_id` =
                #{memberId},
            </if>
            <if test="operations != null">`operations` =
                #{operations},
            </if>
            <if test="revision != null">`revision` =
                #{revision},
            </if>
            <if test="deleted != null">`deleted` =
                #{deleted},
            </if>
            <if test="sort != null">`sort` =
                #{sort},
            </if>
            <if test="createBy != null">`create_by` =
                #{createBy},
            </if>
            <if test="updateBy != null">`update_by` =
                #{updateBy},
            </if>
            <if test="createTime != null">`create_time` =
                #{createTime},
            </if>
            <if test="updateTime != null">`update_time` =
                #{updateTime},
            </if>
            <if test="remark != null">`remark` =
                #{remark},
            </if>
            <if test="tenantId != null">`tenant_id` =
                #{tenantId},
            </if>
        </trim>
        where `id` = #{id}
    </update>

    <delete id="deleteApitableDatasheetChangesetById" parameterType="String">
        delete
        from `apitable_datasheet_changeset`
        where `id` = #{id}
    </delete>

    <delete id="deleteApitableDatasheetChangesetByIds" parameterType="String">
        delete from `apitable_datasheet_changeset` where `id` in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
