<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workflow.pro.modules.apitable.mapper.ApitableDeveloperMapper">

    <resultMap type="ApitableDeveloper" id="ApitableDeveloperResult">
        <result property="id" column="id"/>
        <result property="dstId" column="dst_id"/>
        <result property="userId" column="user_id"/>
        <result property="allowManage" column="allow_manage"/>
        <result property="allowWatch" column="allow_watch"/>
        <result property="allowEdit" column="allow_edit"/>
        <result property="allowSave" column="allow_save"/>
        <result property="apiKey" column="api_key"/>
        <result property="enable" column="enable"/>
        <result property="sort" column="sort"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="tenantId" column="tenant_id"/>
    </resultMap>

    <sql id="selectApitableDeveloperVo">
        select`id`,`dst_id`,`user_id`,`allow_manage`,`allow_watch`,`allow_edit`,`allow_save`,`api_key`,`enable`,`sort`,`create_by`,`update_by`,`create_time`,`update_time`,`remark`,`tenant_id`
        from `apitable_developer`
    </sql>

    <select id="selectApitableDeveloperList" parameterType="ApitableDeveloper"
            resultMap="ApitableDeveloperResult">
        <include refid="selectApitableDeveloperVo"/>
        <where>
            <if test="request.dstId != null  and request.dstId != ''">and
                `dst_id` = #{request.dstId}
            </if>
            <if test="request.userId != null  and request.userId != ''">and
                `user_id` = #{request.userId}
            </if>
            <if test="request.allowManage != null ">and
                `allow_manage` = #{request.allowManage}
            </if>
            <if test="request.allowWatch != null ">and
                `allow_watch` = #{request.allowWatch}
            </if>
            <if test="request.allowEdit != null ">and
                `allow_edit` = #{request.allowEdit}
            </if>
            <if test="request.allowSave != null ">and
                `allow_save` = #{request.allowSave}
            </if>
            <if test="request.apiKey != null  and request.apiKey != ''">and
                `api_key` = #{request.apiKey}
            </if>
            <if test="request.enable != null ">and
                `enable` = #{request.enable}
            </if>
            <if test="request.sort != null ">and
                `sort` = #{request.sort}
            </if>
            <if test="request.tenantId != null  and request.tenantId != ''">and
                `tenant_id` = #{request.tenantId}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectApitableDeveloperById" parameterType="String"
            resultMap="ApitableDeveloperResult">
        <include refid="selectApitableDeveloperVo"/>
        where `id` = #{id}
    </select>

    <insert id="insertApitableDeveloper" parameterType="ApitableDeveloper">
        insert into `apitable_developer`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,
            </if>
            <if test="dstId != null">`dst_id`,
            </if>
            <if test="userId != null">`user_id`,
            </if>
            <if test="allowManage != null">`allow_manage`,
            </if>
            <if test="allowWatch != null">`allow_watch`,
            </if>
            <if test="allowEdit != null">`allow_edit`,
            </if>
            <if test="allowSave != null">`allow_save`,
            </if>
            <if test="apiKey != null">`api_key`,
            </if>
            <if test="enable != null">`enable`,
            </if>
            <if test="sort != null">`sort`,
            </if>
            <if test="createBy != null">`create_by`,
            </if>
            <if test="updateBy != null">`update_by`,
            </if>
            <if test="createTime != null">`create_time`,
            </if>
            <if test="updateTime != null">`update_time`,
            </if>
            <if test="remark != null">`remark`,
            </if>
            <if test="tenantId != null">`tenant_id`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},
            </if>
            <if test="dstId != null">#{dstId},
            </if>
            <if test="userId != null">#{userId},
            </if>
            <if test="allowManage != null">#{allowManage},
            </if>
            <if test="allowWatch != null">#{allowWatch},
            </if>
            <if test="allowEdit != null">#{allowEdit},
            </if>
            <if test="allowSave != null">#{allowSave},
            </if>
            <if test="apiKey != null">#{apiKey},
            </if>
            <if test="enable != null">#{enable},
            </if>
            <if test="sort != null">#{sort},
            </if>
            <if test="createBy != null">#{createBy},
            </if>
            <if test="updateBy != null">#{updateBy},
            </if>
            <if test="createTime != null">#{createTime},
            </if>
            <if test="updateTime != null">#{updateTime},
            </if>
            <if test="remark != null">#{remark},
            </if>
            <if test="tenantId != null">#{tenantId},
            </if>
        </trim>
    </insert>

    <update id="updateApitableDeveloper" parameterType="ApitableDeveloper">
        update `apitable_developer`
        <trim prefix="SET" suffixOverrides=",">
            <if test="dstId != null">`dst_id` =
                #{dstId},
            </if>
            <if test="userId != null">`user_id` =
                #{userId},
            </if>
            <if test="allowManage != null">`allow_manage` =
                #{allowManage},
            </if>
            <if test="allowWatch != null">`allow_watch` =
                #{allowWatch},
            </if>
            <if test="allowEdit != null">`allow_edit` =
                #{allowEdit},
            </if>
            <if test="allowSave != null">`allow_save` =
                #{allowSave},
            </if>
            <if test="apiKey != null">`api_key` =
                #{apiKey},
            </if>
            <if test="enable != null">`enable` =
                #{enable},
            </if>
            <if test="sort != null">`sort` =
                #{sort},
            </if>
            <if test="createBy != null">`create_by` =
                #{createBy},
            </if>
            <if test="updateBy != null">`update_by` =
                #{updateBy},
            </if>
            <if test="createTime != null">`create_time` =
                #{createTime},
            </if>
            <if test="updateTime != null">`update_time` =
                #{updateTime},
            </if>
            <if test="remark != null">`remark` =
                #{remark},
            </if>
            <if test="tenantId != null">`tenant_id` =
                #{tenantId},
            </if>
        </trim>
        where `id` = #{id}
    </update>

    <delete id="deleteApitableDeveloperById" parameterType="String">
        delete
        from `apitable_developer`
        where `id` = #{id}
    </delete>

    <delete id="deleteApitableDeveloperByIds" parameterType="String">
        delete from `apitable_developer` where `id` in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
