<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workflow.pro.modules.ailuo.mapper.ProjectPayTypeMapper">

    <resultMap type="ProjectPayType" id="ProjectPayTypeResult">
                    <result property="id" column="id"/>
                    <result property="name" column="name"/>
                    <result property="type" column="type"/>
                    <result property="deleted" column="deleted"/>
                    <result property="createBy" column="create_by"/>
                    <result property="updateBy" column="update_by"/>
                    <result property="createTime" column="create_time"/>
                    <result property="updateTime" column="update_time"/>
                    <result property="remark" column="remark"/>
                    </resultMap>
    
    <sql id="selectProjectPayTypeVo">
        select`id`,`name`,`type`,`deleted`,`create_by`,`update_by`,`create_time`,`update_time`,`remark`        from `project_pay_type`
    </sql>

    <select id="selectProjectPayTypeList" parameterType="ProjectPayType" resultMap="ProjectPayTypeResult">
        <include refid="selectProjectPayTypeVo"/>
        <where>
                                                                                                    <if test="request.name != null  and request.name != ''">and
                            `name` like concat('%', #{request.name}, '%')
                        </if>
                                                                                                            <if test="request.type != null  and request.type != ''">and
                            `type` = #{request.type}
                        </if>
                                                                                                            <if test="request.deleted != null ">and
                            `deleted` = #{request.deleted}
                        </if>
                                                                                                                                                                                                    </where>
                 order by   create_time desc
            </select>

    <select id="selectProjectPayTypeById" parameterType="Long"
            resultMap="ProjectPayTypeResult">
                    <include refid="selectProjectPayTypeVo"/>
            where `id` = #{id}
            </select>

    <insert id="insertProjectPayType" parameterType="ProjectPayType" useGeneratedKeys="true"
            keyProperty="id">
        insert into `project_pay_type`
        <trim prefix="(" suffix=")" suffixOverrides=",">
                                                                            <if test="name != null and name != ''">`name`,
                    </if>
                                                                <if test="type != null and type != ''">`type`,
                    </if>
                                                                <if test="deleted != null">`deleted`,
                    </if>
                                                                <if test="createBy != null">`create_by`,
                    </if>
                                                                <if test="updateBy != null">`update_by`,
                    </if>
                                                                <if test="createTime != null">`create_time`,
                    </if>
                                                                <if test="updateTime != null">`update_time`,
                    </if>
                                                                <if test="remark != null">`remark`,
                    </if>
                                    </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                                                                            <if test="name != null and name != ''">#{name},
                    </if>
                                                                <if test="type != null and type != ''">#{type},
                    </if>
                                                                <if test="deleted != null">#{deleted},
                    </if>
                                                                <if test="createBy != null">#{createBy},
                    </if>
                                                                <if test="updateBy != null">#{updateBy},
                    </if>
                                                                <if test="createTime != null">#{createTime},
                    </if>
                                                                <if test="updateTime != null">#{updateTime},
                    </if>
                                                                <if test="remark != null">#{remark},
                    </if>
                                    </trim>
    </insert>

    <update id="updateProjectPayType" parameterType="ProjectPayType">
        update `project_pay_type`
        <trim prefix="SET" suffixOverrides=",">
                                                                            <if test="name != null and name != ''">`name` =
                        #{name},
                    </if>
                                                                <if test="type != null and type != ''">`type` =
                        #{type},
                    </if>
                                                                <if test="deleted != null">`deleted` =
                        #{deleted},
                    </if>
                                                                <if test="createBy != null">`create_by` =
                        #{createBy},
                    </if>
                                                                <if test="updateBy != null">`update_by` =
                        #{updateBy},
                    </if>
                                                                <if test="createTime != null">`create_time` =
                        #{createTime},
                    </if>
                                                                <if test="updateTime != null">`update_time` =
                        #{updateTime},
                    </if>
                                                                <if test="remark != null">`remark` =
                        #{remark},
                    </if>
                                    </trim>
        where `id` = #{id}
    </update>

    <delete id="deleteProjectPayTypeById" parameterType="Long">
        delete
        from `project_pay_type`
        where `id` = #{id}
    </delete>

    <delete id="deleteProjectPayTypeByIds" parameterType="String">
        delete from `project_pay_type` where `id` in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>
