package ${packageName}.service;

import java.util.List;


import com.baomidou.mybatisplus.extension.service.IService;
import com.workflow.pro.common.web.base.page.PageResponse;
import com.workflow.pro.common.web.base.page.Pageable;


import ${packageName}.param.${ClassName}Request;
import ${packageName}.domain.${ClassName};

/**
 * ${functionName}IService接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface I${ClassName}Service  extends IService <${ClassName}>{
    /**
     * 查询${functionName}
     *
     * @param ${pkColumn.javaField} ${functionName}ID
     * @return ${functionName}
     */
        ${ClassName} select${ClassName}ById(${pkColumn.javaType} ${pkColumn.javaField});


    /**
     * 查询${functionName}
     * @param  request pageSize pageNum
     * @return ${functionName} 分页集合
     * */
    PageResponse<${ClassName}> page(${ClassName}Request request);

    /**
     * 查询${functionName}列表
     * @return ${functionName}集合
     */
    List<${ClassName}> list(${ClassName}Request request);

    /**
     * 新增${functionName}
     *
     * @param ${className} ${functionName}
     * @return 结果
     */
    int insert${ClassName}(${ClassName} ${className});

    /**
     * 修改${functionName}
     *
     * @param ${className} ${functionName}
     * @return 结果
     */
    int update${ClassName}(${ClassName} ${className});

    /**
     * 批量删除${functionName}
     *
     * @param ids 需要删除的数据ID
     * @return 结果
     */
    int delete${ClassName}ByIds(String[] ids);

    /**
     * 删除${functionName}信息
     *
     * @param ${pkColumn.javaField} ${functionName}ID
     * @return 结果
     */
    int delete${ClassName}ById(${pkColumn.javaType} ${pkColumn.javaField});

}
